dist
build
.build
logfile
.nyc_output
coverage

.git/*
.DS_Store
.npmrc
.yarnclean
.eslintignore
.prettierignore
.upignore
.npmignore
.gitignore
.dockerignore
.yarnrc
.haxt
.flowconfig
.firebaserc
.graphqlconfig
.editorconfig
.cache

license
yarn.lock
yarn-error.log
Dockerfile.*
Dockerfile

_env*
.env.*
*.env
*.ico
*.html
*.xml
*.log
*.svg
*.map
*.png
*.snap
*.txt
*.sketch
*.ttf
*.eot
*.ttf
*.woff
*.woff2
*.out
*.dms
*.sh
*.tar.gz
*.pem
*.jpg
*.gif
*.graphcool
*.re
*.wasm
*.yml
*.toml
*.jar
*.zip
*.preview.*
*.tgz
